name: Python package
on: [pull_request, push]
jobs:
  build:
    strategy:
      matrix:
        python-version: [3.7, 3.8, 3.9]
        runs-on: [macos-latest, ubuntu-latest]
    runs-on: ${{ matrix.runs-on }}
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2.3.2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        make install-deps-dev
    - name: Format with black
      run: |
        make format-check
    - name: Lint with flake8
      run: |
        make lint
    - name: Test with pytest
      run: |
        make test
